# tinyrox says don't edit this manually, but it can't stop you!

export(apply_timeline)
export(clip_add)
export(clip_crop)
export(clip_delete)
export(clip_move)
export(clip_set)
export(clip_speed)
export(clip_split)
export(clip_transform)
export(clip_trim)
export(driver_capabilities)
export(dump_timeline)
export(extract_timeline_state_md)
export(is_otio_time)
export(is_rational_time)
export(is_timeline)
export(new_timeline)
export(nle_driver_registered)
export(nle_drivers)
export(nle_register_driver)
export(otio_add_clip)
export(otio_add_track)
export(otio_clip)
export(otio_clips)
export(otio_external_reference)
export(otio_from_json)
export(otio_kind)
export(otio_name)
export(otio_rate)
export(otio_remove_clip)
export(otio_rescaled_to)
export(otio_set_kind)
export(otio_set_name)
export(otio_set_target_url)
export(otio_target_url)
export(otio_time)
export(otio_timecode)
export(otio_timeline)
export(otio_to_frames)
export(otio_to_json)
export(otio_to_seconds)
export(otio_track)
export(otio_tracks)
export(otio_value)
export(otio_version)
export(rational_time)
export(read_timeline)
export(replace_timeline_state_md)
export(shift_after)
export(timeline_duration_frames)
export(timeline_fps)
export(timeline_from_json)
export(timeline_summary)
export(timeline_to_json)
export(to_frames)
export(to_rational)
export(to_seconds)
export(track_add)
export(validate_timeline)
export(write_timeline)

S3method("$",nle_timeline)
S3method(format,otio_time)
S3method(format,rational_time)
S3method(print,nle_timeline)
S3method(print,otio_clip)
S3method(print,otio_external_reference)
S3method(print,otio_time)
S3method(print,otio_timeline)
S3method(print,otio_track)
S3method(print,rational_time)

importFrom(Rcpp,evalCpp)

useDynLib(nle.api, .registration = TRUE)
