# tinyrox says don't edit this manually, but it can't stop you!

export(apply_sequence)
export(clip_add)
export(clip_crop)
export(clip_delete)
export(clip_move)
export(clip_set)
export(clip_speed)
export(clip_split)
export(clip_transform)
export(clip_trim)
export(driver_capabilities)
export(dump_sequence)
export(empty_clips)
export(empty_tracks)
export(export_sequence_json)
export(extract_sequence_state_md)
export(from_topleft)
export(is_otio_time)
export(is_rational_time)
export(is_sequence)
export(new_sequence)
export(nle_driver_registered)
export(nle_drivers)
export(nle_register_driver)
export(otio_rate)
export(otio_rescaled_to)
export(otio_time)
export(otio_timecode)
export(otio_to_frames)
export(otio_to_seconds)
export(otio_value)
export(otio_version)
export(rational_time)
export(read_sequence)
export(replace_sequence_state_md)
export(resolve_coords)
export(seq_duration_frames)
export(seq_fps)
export(sequence_from_json)
export(sequence_summary)
export(sequence_to_json)
export(shift_after)
export(to_frames)
export(to_rational)
export(to_seconds)
export(to_topleft)
export(track_add)
export(validate_sequence)
export(write_sequence)

S3method(format,otio_time)
S3method(format,rational_time)
S3method(print,nle_sequence)
S3method(print,otio_time)
S3method(print,rational_time)

importFrom(Rcpp,evalCpp)

useDynLib(nle.api, .registration = TRUE)
